@import "tailwindcss";

@theme {
  --color-brand-100: oklch(96% 0.03 160);
  --color-brand-200: oklch(91% 0.05 160);
  --color-brand-300: oklch(84% 0.07 160);
  --color-brand-400: oklch(73% 0.09 160);
  --color-brand-500: oklch(59% 0.12 160);
  --color-brand-600: oklch(47% 0.13 160);
  --color-brand-700: oklch(41% 0.13 160);
  --color-brand-800: oklch(36% 0.12 160);
  --color-brand-900: oklch(29% 0.11 160);
  --color-brand-1000: oklch(19% 0.08 160);

  --text-13: 13px;
  --text-15: 15px;
  --text-22: 22px;

  --spacing-18: 18px;
  --spacing-22: 22px;
}